.ingra{
    background-color: #EBEBEB;
}

.ing-title{
    font-size: 3rem;
    letter-spacing: .12cm;
    margin-bottom: 15px;
}





.healthyItems{
    background-color: #F9F9FB;
}

.ingra-btn{
    background-color: white;
    transition: 1s;
}

.ingra-btn:hover{
    background-color: salmon;
    color: white;
    font-weight: 600;
}