.nav-logo{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Beau Rivage', cursive;
}
.text-gray{
    color: gray;
}

.nav-bar-container{
    
}

.signout-btn{
    color: gray;
    border: none;
    background-color: white;

}